

@import "style.scss";




#app
{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  
}
.app-inner
{
  overflow: scroll;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  svg.main-canvas
  {
    background-color: white;
    
    box-shadow: 0px 1px 20px 18px #ededed;
    flex-shrink: 0;
    
  }
}
.zoom-panel
{
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 10px;
  align-items: center;
  p
  {
    flex: none;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.size-panel
{
  position: absolute;
  top:0px;
  right:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  input
  {
    margin: 2px;
  }
}
.canvas-for-save
{
  display: none;
}
.instruments-panel
  {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    background-color: white;
    position: absolute;
    top:10px;
    left:10px;
    width:15%;
    .panel-block.selected
    {
        background-color:rgb(184, 184, 248);
    }
    .panel-heading
    {
        display: flex;
        align-items: center;
        p
        {
            flex:auto;
        }
        .drag-element
        {
            font-size: 80%;
            margin-left: 20px;
            cursor:grab;
            flex: none;
        }
        
    }
    .file-tab
    {
      padding: 10px;
      
      .size-input
      {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        input
        {
          width:10px;
          
          flex: 4;
          margin-left: 10px;
        }
        p
        {
          flex:10;
        }
        
      }
      .button
      {
          margin-top: 5px;
      }
      input[type=file]
      {
        display: none;
      }
    }
    .properties-tab
    {
      padding: 10px;
      .property-input
      {
        &:first-child
        {
          margin-top: 0px;
        }
        margin-top: 10px;
        label
        {
          margin-bottom: 8px;
        }
        input
        {
          display: block;
        }
      }
    }
    
    
    
  }
  
@media screen and (max-width:1024px) 
{
  .instruments-panel
  {
    width:20%;
  }
}
@media screen and (max-width:768px) 
{
  .instruments-panel
  {
    width:30%;
  }
}

